body {
  background: #f1f1f1 url(../../img/bodybg.png) repeat-x; }

.fl {
  float: left; }

.fr {
  float: right; }

.indexBanner-item {
  height: 508px;
  background-repeat: no-repeat;
  background-position: center top; }

.indexBanner .common-swiper.swiper-container .swiper-pagination {
  left: 45%;
  right: 45%; }

.block-title {
  text-align: center;
  padding: 40px 0; }
  .block-title h2 {
    font: 24px/2 microsoft yahei, simsun, arial;
    color: #a31119; }
  .block-title p {
    background: url(../../img/dotline.png) no-repeat center center;
    background-size: 100% auto; }
    .block-title p span {
      display: inline-block;
      padding: 0 10px;
      background: #f1f1f1; }

.jxqyCont {
  position: relative;
  width: 1160px;
  height: 936px;
  margin: 0 auto;
  border: 15px solid #c6bcb6;
  background: url(../../img/b2-bg.jpg) no-repeat center top; }
  .jxqyCont .fl {
    position: relative;
    width: 600px; }
  .jxqyCont-title {
    margin: 80px 0 0 60px; }
    .jxqyCont-title h3 {
      font-size: 18px; }
    .jxqyCont-title p {
      color: #b3b2b2; }
  .jxqyCont .jcp-wrapper {
    position: relative; }
    .jxqyCont .jcp-wrapper .slide-arrow-left {
      left: 140px;
      top: 350px; }
    .jxqyCont .jcp-wrapper .slide-arrow-right {
      left: 460px;
      top: 350px; }
  .jxqyCont-pics li {
    position: absolute;
    width: 246px;
    height: 311px;
    overflow: hidden; }
    .jxqyCont-pics li img {
      width: 100%;
      height: 100%; }
    .jxqyCont-pics li:first-child {
      left: 330px;
      top: 40px;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
              box-shadow: 0 0 20px rgba(0, 0, 0, .2); }
    .jxqyCont-pics li:nth-child(3) {
      left: 40px;
      top: 250px; }
    .jxqyCont-pics li:nth-child(2) {
      z-index: 2;
      left: 130px;
      top: 170px;
      width: 356px;
      height: 465px;
      -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .2);
              box-shadow: 0 0 40px rgba(0, 0, 0, .2); }
      .jxqyCont-pics li:nth-child(2) .jxqyCont-picsTitle {
        bottom: 0;
        color: #a31119; }
  .jxqyCont-picsTitle {
    position: absolute;
    left: 0;
    bottom: -150px;
    width: 100%;
    padding-top: 60px;
    height: 40px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 1; }
  .jxqyCont-picsLogo {
    position: absolute;
    left: 50%;
    margin-left: -37px;
    top: -37px;
    background: #000;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .jxqyCont-picsLogo img {
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .jxqyCont-picsLogo p {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      line-height: 74px;
      font-size: 14px;
      color: #FFF; }
    .jxqyCont-picsLogo:hover img {
      opacity: .7; }
    .jxqyCont-picsLogo:hover p {
      display: block; }
  .jxqyCont-text {
    margin: 540px 40px 0;
    font: 14px/1.8 microsoft yahei, simsun, arial;
    text-indent: 2em;
    text-align: justify; }
  .jxqyCont-right {
    position: absolute;
    left: 630px;
    top: -30px;
    width: 560px; }
    .jxqyCont-rightItem {
      position: relative;
      height: 343px;
      -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .2);
              box-shadow: 0 0 40px rgba(0, 0, 0, .2); }
      .jxqyCont-rightItem .jxqyCont-picsTitle {
        bottom: 0; }
      .jxqyCont-rightItem:hover .jxqyCont-picsTitle {
        color: #a31119; }
    .jxqyCont-right .jxqyCont-text {
      margin: 20px 60px 20px 40px; }

.center-box {
  padding: 20px;
  text-align: center; }

.btn-more {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc; }
  .btn-more img {
    display: block; }
  .btn-more .bm-icon {
    position: absolute;
    left: -35px;
    top: 0; }

.hylpz {
  height: 730px;
  background: #FFF url(../../img/b3-bg.jpg) no-repeat center top; }
  .hylpz .w1160 {
    position: relative; }
  .hylpz-title {
    margin-top: 30px; }
  .hylpz-pics {
    width: 602px;
    margin-top: 30px;
    font-size: 0; }
  .hylpz-pic {
    position: relative;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #a98e7f; }
    .hylpz-pic p {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: #FFF;
      line-height: 2.5; }
    .hylpz-pic:first-child {
      margin-bottom: 1px; }
    .hylpz-pic:last-child {
      margin-left: 1px; }

.hylpz-news {
  position: absolute;
  left: 633px;
  top: -50px; }
  .hylpz-news .box-inset-radius:after, .hylpz-news .box-inset-radius:before {
    background: #F2F2F2; }
  .hylpz-news .box-inset-radius-inner {
    width: 544px;
    height: 742px; }
  .hylpz-news .partner-list {
    padding: 0 5% 5% 10%;
    overflow: hidden; }
    .hylpz-news .partner-list li {
      float: left;
      width: 44%;
      margin: 12px; }
    .hylpz-news .partner-list .list-icon {
      width: 34px;
      height: 34px; }
    .hylpz-news .partner-list .list-cont {
      display: inline-block;
      height: 36px;
      overflow: hidden;
      vertical-align: middle;
      width: 10em;
      line-height: 1.5;
      border-left: 1px dotted #ccc;
      margin-left: 1em;
      padding-left: 1em; }

.jxzl {
  background: #FFFFFF; }
  .jxzl .block-title span {
    background-color: #fff; }
  .jxzl .jxzl-swiper {
    width: 809px; }
  .jxzl .jxzl-l-b {
    padding-top: 27px; }
    .jxzl .jxzl-l-b .active {
      -webkit-box-shadow: 0 0 10px #ccc;
              box-shadow: 0 0 10px #ccc;
      background: #000; }
      .jxzl .jxzl-l-b .active img {
        opacity: .8; }
      .jxzl .jxzl-l-b .active .arrowl {
        background: url("../../img/i-arrow-l-active.png"); }
      .jxzl .jxzl-l-b .active .arrowr {
        background: url("../../img/i-arrow-r-active.png"); }
    .jxzl .jxzl-l-b .fl,
    .jxzl .jxzl-l-b .fr {
      position: relative;
      border: 1px solid #d4c6bf; }
    .jxzl .jxzl-l-b .arrowl,
    .jxzl .jxzl-l-b .arrowr {
      position: absolute;
      display: inline-block;
      top: 50%;
      margin-top: -5px;
      width: 5px;
      height: 9px; }
    .jxzl .jxzl-l-b .arrowl {
      right: -15px;
      background: url("../../img/i-arrow-l.png"); }
    .jxzl .jxzl-l-b .arrowr {
      left: -15px;
      background: url("../../img/i-arrow-r.png"); }
  .jxzl .jxzl-cont {
    width: 244px;
    margin: 0 auto; }
  .jxzl .box-inset-radius-inner {
    height: 190px;
    overflow: hidden; }
  .jxzl .jc-title {
    width: 9em;
    margin: 18px auto; }
    .jxzl .jc-title h3 {
      height: 36px;
      overflow: hidden; }
  .jxzl .jc-list {
    width: 12em;
    margin: 0 auto; }
    .jxzl .jc-list li {
      height: 36px;
      overflow: hidden;
      margin-bottom: 10px; }
  .jxzl .center-box {
    margin-bottom: 0; }

.jxzl-rank {
  width: 338px;
  height: 640px;
  margin-top: -10px;
  background: url("../../img/b4-r-bg.jpg") no-repeat; }
  .jxzl-rank .box-inner-title-tal {
    padding-left: 50px; }

.jxzl-ranklist {
  padding: 0 50px; }
  .jxzl-ranklist li {
    margin-bottom: 26px; }
  .jxzl-ranklist .rank-num {
    display: inline-block;
    width: 2em;
    vertical-align: middle;
    font-size: 16px; }
    .jxzl-ranklist .rank-num strong {
      font: 300 24px arial; }
  .jxzl-ranklist .rl-icon {
    margin: 0 10px; }
  .jxzl-ranklist .rank-title {
    display: inline-block;
    vertical-align: middle; }
    .jxzl-ranklist .rank-title p {
      width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.jyz-cont {
  height: 610px;
  padding: 17px;
  margin-bottom: 50px;
  background: url("../../img/b2-bg.jpg"); }
  .jyz-cont > .fl {
    width: 385px; }
  .jyz-cont .uiSearch {
    float: none;
    background: #FFFFFF;
    margin: 13px 0 0 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 364px; }
    .jyz-cont .uiSearch-input {
      width: 250px; }
  .jyz-cont .jyz-left-tit {
    text-align: center;
    height: 56px;
    font: 16px/56px arial;
    color: #a31119;
    background: url("../../img/dot-line-sm.png") no-repeat center center; }

.jyz-left-swiper {
  width: 384px;
  position: relative; }
  .jyz-left-swiper .img-mask {
    position: absolute;
    left: 0;
    bottom: 0; }
  .jyz-left-swiper .tabs-menu {
    position: absolute;
    left: 0;
    bottom: 0; }
    .jyz-left-swiper .tabs-menu li {
      float: left;
      width: 42%;
      height: 36px;
      overflow: hidden;
      padding: 0 4% 15px;
      color: #FFFFFF; }
      .jyz-left-swiper .tabs-menu li:hover, .jyz-left-swiper .tabs-menu li.active {
        color: #db0004; }
  .jyz-left-swiper .top-line {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
    background: #db0004;
    opacity: .7; }

.jyz-middle {
  float: left;
  width: 394px;
  margin-left: 4px; }
  .jyz-middle .swiper-slide {
    position: relative; }
  .jyz-middle .swp-tit {
    position: absolute;
    width: 100%;
    height: 48px;
    left: 0;
    bottom: 0;
    text-align: center;
    font: 16px/48px microsoft yahei, simsun, arial;
    background: #ffffff;
<<<<<<< HEAD
    background: rgba(255, 255, 255, 0.5); }
  .jyz-middle .swiper-button-next {
    background: url("../../img/i-arrow1-r.png") no-repeat center center; }
    .jyz-middle .swiper-button-next:hover {
      background: url("../../img/i-arrow1-r-active.png") no-repeat center center; }
  .jyz-middle .swiper-button-prev {
    background: url("../../img/i-arrow1-l.png") no-repeat center center; }
    .jyz-middle .swiper-button-prev:hover {
      background: url("../../img/i-arrow1-l-active.png") no-repeat center center; }
=======
    background: rgba(255, 255, 255, .5); }
>>>>>>> 144a1db1e0a9fe8257a6181c1f9a1d73cd62b128
  .jyz-middle .swiper-pagination {
    bottom: 0px; }
    .jyz-middle .swiper-pagination .swiper-pagination-bullet {
      float: left;
      width: 20%;
      height: 7px;
      background: #000;
      -webkit-border-radius: 0;
              border-radius: 0;
      margin: 0;
      opacity: 1; }
      .jyz-middle .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #a31119; }

.jyz-middle-top .swiper-button-next,
.jyz-middle-top .swiper-button-prev {
  left: auto;
  top: auto;
  right: 5px;
  bottom: 5px; }

.jyz-middle-top .swiper-button-prev {
  right: 30px; }

.jyz-middle-bottom {
  position: relative;
  width: 300px;
  height: 288px;
  margin: 30px auto;
  background: url("../../img/b4-m-bg.png") no-repeat; }
  .jyz-middle-bottom .swiper-button-next,
  .jyz-middle-bottom .swiper-button-prev {
    margin-top: 5px;
    margin-right: -10px; }
  .jyz-middle-bottom .swiper-button-prev {
    right: 30px;
    margin-left: -10px; }
  .jyz-middle-bottom img {
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .jyz-middle-bottom .jmb-img {
    position: relative;
    width: 206px;
    height: 206px;
    margin: 65px 47px auto; }
    .jyz-middle-bottom .jmb-img a:hover .swp-tit {
      display: block; }
    .jyz-middle-bottom .jmb-img .swp-tit {
      display: none;
      width: 100%;
      height: 206px;
      line-height: 206px;
      background: #000000;
      background: rgba(0, 0, 0, .5);
      -webkit-border-radius: 50%;
              border-radius: 50%;
      color: #FFFFFF; }
  .jyz-middle-bottom .btn-more {
    position: absolute;
    right: -46px;
    top: -20px; }

.jyz-right .box-inset-radius:after, .jyz-right .box-inset-radius:before {
  background: #fafaf9; }

.jyz-right .box-inset-radius-inner {
  width: 350px;
  height: 600px; }

.jyz-right .tabs-box {
  padding: 0 20px; }

.jyz-right .tabs-menu {
  position: relative;
  overflow: hidden;
  zoom: 1; }
  .jyz-right .tabs-menu:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: url("../../img/shadow-top.png") no-repeat center bottom; }

.jyz-right .tabs-menu-item {
  float: left;
  width: 101px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 0 1px;
  background: #939393;
  color: #FFFFFF; }
  .jyz-right .tabs-menu-item.active {
    background: #a31119; }

.jyz-right-list {
  padding: 20px 10px; }
  .jyz-right-list li {
    position: relative;
    height: 56px;
    overflow: hidden;
    margin-bottom: 5px; }
    .jyz-right-list li a {
      display: block;
      padding: 10px 19px; }
    .jyz-right-list li:hover {
      background: url("../../img/shadow-top.png") no-repeat center top; }
      .jyz-right-list li:hover a {
        background: url("../../img/shadow-bot.png") no-repeat center bottom; }
  .jyz-right-list .jrl-num {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: inline-block;
    padding-left: 15px;
    background: #FFFFFF; }

.mjlz {
  background: #FFFFFF; }
  .mjlz .block-title p span {
    background: #FFFFFF; }
  .mjlz .mjlz-left {
    width: 704px; }
  .mjlz .gallery-thumbs {
    overflow: visible; }
  .mjlz .mjlz-rank {
    width: 485px;
    height: 640px;
    margin-top: -10px;
    background: url("../../img/b6-r-bg.jpg") no-repeat; }
    .mjlz .mjlz-rank .rank-avatar {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 5px solid #ccc;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-right: 10px; }
      .mjlz .mjlz-rank .rank-avatar:hover .hover-mask {
        display: block;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        line-height: 100px; }
      .mjlz .mjlz-rank .rank-avatar img {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
    .mjlz .mjlz-rank .jxzl-ranklist a {
      display: block; }
    .mjlz .mjlz-rank .jxzl-ranklist a:hover {
      background: url("../../img/b6-list-bg.jpg") no-repeat center center; }
    .mjlz .mjlz-rank .btn-more {
      margin-left: 50px; }

.gallery-top {
  height: 438px;
  width: 100%; }
  .gallery-top .swiper-slide a {
    position: relative;
    display: block; }
  .gallery-top .swiper-slide .btn-more {
    position: absolute;
    display: inline-block;
    right: 20px;
    bottom: 100px; }
  .gallery-top .sl-text {
    position: absolute;
    width: 270px;
    left: 70px;
    top: 270px; }

.gallery-thumbs {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 0; }

.gallery-thumbs .swiper-slide {
  position: relative;
  width: 145px;
  height: 132px;
  line-height: 132px;
  margin-right: 28px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  .gallery-thumbs .swiper-slide:hover {
    border: 1px solid #000;
    margin-right: 26px; }
    .gallery-thumbs .swiper-slide:hover .hover-mask {
      display: block; }

.gallery-thumbs .active-nav {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, .1);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, .1); }

.cppj {
  background: #59514f;
  padding-bottom: 50px; }
  .cppj .w1200 {
    width: 1000px; }
  .cppj .block-title {
    color: #FFFFFF; }
    .cppj .block-title h2 {
      color: #FFFFFF; }
    .cppj .block-title p {
      background-image: url("../../img/tit-line-white.png"); }
      .cppj .block-title p span {
        background: transparent; }
  .cppj .cppj-left {
    width: 660px; }
  .cppj .cppj-left-item {
    height: 214px;
    background: #FFFFFF;
    margin-bottom: 15px; }
    .cppj .cppj-left-item .cli-pro {
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      -webkit-transform-origin: center 100%;
          -ms-transform-origin: center 100%;
              transform-origin: center 100%; }
    .cppj .cppj-left-item:hover .cli-pro {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .cppj .cli-img {
    float: left; }
    .cppj .cli-img img {
      float: left;
      height: 214px; }
  .cppj .cli-cont {
    margin-left: 340px; }

.common-article-info {
  padding: 15px; }
  .common-article-info h3 {
    font: 16px/2 microsoft yahei, simsun, arial; }
  .common-article-info .art-author {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px;
    color: #999; }
    .common-article-info .art-author span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
    .common-article-info .art-author img {
      display: inline-block;
      vertical-align: -2px;
      margin-right: 5px; }
  .common-article-info .art-cont {
    height: 54px;
    overflow: hidden;
    padding: 15px 0; }
  .common-article-info .art-data {
    text-align: right; }
    .common-article-info .art-data span {
      margin-right: 0;
      margin-left: 20px; }

.cppj-right {
  width: 333px; }
  .cppj-right .cppj-left-item {
    height: 443px; }
    .cppj-right .cppj-left-item .btn-more {
      float: right;
      margin: 5px 15px; }
    .cppj-right .cppj-left-item .cli-pro {
      -webkit-transform-origin: bottom center;
          -ms-transform-origin: bottom center;
              transform-origin: bottom center; }
    .cppj-right .cppj-left-item .cli-cont {
      margin-left: 0; }
    .cppj-right .cppj-left-item .cli-img {
      margin-bottom: 15px; }
      .cppj-right .cppj-left-item .cli-img img {
        height: auto;
        width: 100%; }
