.jingxuanpinpai ul:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.zhuanfang {
  color: #333;
  width: 1200px;
  margin: 100px auto 0;
  position: relative; }
  .zhuanfang .bg {
    height: 688px;
    background: #1a0806; }
  .zhuanfang .plane1 {
    position: absolute;
    right: 20px;
    top: -100px; }

.hangyebiaogan .block-title {
  padding: 70px 0 110px; }

.hangyebiaogan .bg {
  background: #1c151d url("../../img/brand-bg.jpg") 0 0 no-repeat; }

.hangyebiaogan .main {
  width: 1200px;
  height: 652px;
  margin: 0 auto;
  position: relative; }
  .hangyebiaogan .main p {
    position: absolute; }
  .hangyebiaogan .main .b1 {
    width: 320px;
    top: 0;
    left: 0; }
  .hangyebiaogan .main .b2 {
    width: 475px;
    top: -70px;
    left: 320px;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .15); }
  .hangyebiaogan .main .b3 {
    width: 320px;
    top: 0;
    left: 795px; }
  .hangyebiaogan .main .b4 {
    width: 539px;
    bottom: 0;
    left: 795px; }

.xinjinpinpai {
  padding-bottom: 60px; }
  .xinjinpinpai .block-title {
    padding: 140px 0 30px; }
  .xinjinpinpai .xinjinpinpai-swiper-wrap {
    width: 1095px;
    position: relative;
    margin: 0 auto; }
  .xinjinpinpai .swiper-container {
    width: 1095px;
    height: 280px; }
    .xinjinpinpai .swiper-container .swiper-slide {
      margin-right: 0px;
      height: 300px; }
      .xinjinpinpai .swiper-container .swiper-slide div {
        width: 350px;
        margin: 0 auto;
        background: #fff;
        -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, .2);
                box-shadow: 0px 0px 13px rgba(0, 0, 0, .2);
        position: relative; }
      .xinjinpinpai .swiper-container .swiper-slide p {
        font-size: 16px;
        padding: 48px 0 10px;
        text-align: center; }
  .xinjinpinpai .thumb {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
    position: absolute;
    top: 155px;
    left: 50%;
    margin-left: -30px; }
  .xinjinpinpai .swiper-button-next, .xinjinpinpai .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat; }
    .xinjinpinpai .swiper-button-next:active, .xinjinpinpai .swiper-button-prev:active {
      opacity: .6;
      -webkit-opacity: .6;
      filter: alpha(opacity=60); }
  .xinjinpinpai .swiper-button-next {
    left: -55px;
    background: url("../../img/icon-prev.png"); }
  .xinjinpinpai .swiper-button-prev {
    right: -55px;
    background: url("../../img/icon-next.png"); }

.jingxuanpinpai-wrap {
  background: #f7f7f7; }

.jingxuanpinpai {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px; }
  .jingxuanpinpai .block-title {
    padding: 55px 0 30px; }
  .jingxuanpinpai ul {
    padding-top: 45px; }
  .jingxuanpinpai li {
    float: left;
    width: 200px;
    height: 200px; }
    .jingxuanpinpai li a {
      display: block;
      width: 198px;
      height: 198px;
      background: #fff;
      transition: All 0.2s ease-in-out;
      -webkit-transition: All 0.2s ease-in-out;
      -moz-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out; }
      .jingxuanpinpai li a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .08);
                box-shadow: 0 0 16px rgba(0, 0, 0, .08); }
