.jingxuanpinpai ul:after, .block-jxccr ul:after, .block-mjgs dl:after, .block-mjzf:after, .block-mjzf dt:after, .block-mjyl ul:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.subpage-banner {
  width: 100%;
  height: 660px;
  overflow: hidden;
  position: relative; }
  .subpage-banner .bg-below {
    height: 512px;
    background: #f0f0f0 url("../../img/brand-banner-bg.png");
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .subpage-banner .main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 72px 0 0; }
  .subpage-banner .bg-center {
    width: 500%;
    position: absolute;
    top: 72px;
    left: 0; }
    .subpage-banner .bg-center .bg {
      height: 512px;
      background: #c6bbb5;
      position: relative;
      left: -56px; }
  .subpage-banner .info {
    position: relative;
    z-index: 3;
    top: -40px; }
  .subpage-banner .slider {
    width: 844px;
    float: left;
    -webkit-box-shadow: 0 0 25px #666;
            box-shadow: 0 0 25px #666; }
    .subpage-banner .slider .swiper-container {
      height: 596px; }
  .subpage-banner .news {
    width: 300px;
    float: right;
    font-size: 16px;
    line-height: 44px;
    padding-top: 100px; }
    .subpage-banner .news a {
      color: #575757;
      text-decoration: none; }
    .subpage-banner .news li {
      padding-left: .5em;
      border-bottom: 1px dashed #aaa39e; }
  .subpage-banner h1 {
    text-indent: -9999px;
    width: 174px;
    height: 47px;
    padding-bottom: 1.5em;
    background: url("../../img/title-news.png") 0 0 no-repeat; }

.plane1 {
  padding: 10px;
  background: #e6e6e6;
  filter: alpha(opacity=40);
  background: #e6e6e6;
  background: rgba(230, 230, 230, .4); }
  .plane1 .main {
    font-size: 16px;
    width: 332px;
    padding: 0 30px 38px;
    background: #fff; }
  .plane1 .title {
    text-align: center;
    padding: 5px 0 27px; }
  .plane1 .icon {
    margin: 17px 0 0 -15px; }
  .plane1 .thumb {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 8px 7px 10px #ededed;
            box-shadow: 8px 7px 10px #ededed; }
  .plane1 li {
    height: 64px;
    line-height: 64px;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    text-align: right; }
    .plane1 li i {
      width: 16px;
      height: 13px;
      display: inline-block;
      zoom: 1;
      *display: inline;
      background: url("../../img/icon-like.png") 0 0 no-repeat; }
  .plane1 .last-item {
    border: none; }
  .plane1 p {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 18px; }
    .plane1 p em {
      font-size: 16px;
      color: #fff;
      position: absolute;
      left: 40px;
      bottom: -3px;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      background: #a0a0a0;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      text-align: center;
      font-style: normal; }
  .plane1 .thumb {
    margin-right: 1em; }
  .plane1 .active {
    color: #ab2b22; }
    .plane1 .active p {
      font-weight: bold; }
      .plane1 .active p em {
        background: #ab2b22;
        font-weight: normal; }

.block-title {
  text-align: center;
  padding: 45px 0 30px; }

.block-search {
  text-align: center; }
  .block-search p {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 29px;
    -webkit-border-radius: 13px;
            border-radius: 13px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            box-shadow: 0 0 5px rgba(0, 0, 0, .2); }
  .block-search input {
    border: none;
    background: none;
    width: 300px;
    height: 29px;
    padding: 0 1em;
    font-size: 16px; }
    .block-search input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #c4c4c4; }
    .block-search input::-moz-placeholder {
      /* Firefox 19+ */
      color: #c4c4c4; }
    .block-search input:-ms-input-placeholder {
      /* IE 10+ */
      color: #c4c4c4; }
    .block-search input:-moz-placeholder {
      /* Firefox 18- */
      color: #c4c4c4; }
  .block-search button {
    height: 29px;
    width: 56px;
    text-indent: -9999px;
    border: none;
    background: url("../../img/icon-search.png") center center no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    outline: none; }

.jingxuanpinpai ul:after, .block-jxccr ul:after, .block-mjgs dl:after, .block-mjzf:after, .block-mjzf dt:after, .block-mjyl ul:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.zhuanfang {
  color: #333;
  width: 1200px;
  margin: 100px auto 0;
  position: relative; }
  .zhuanfang .bg {
    height: 688px;
    background: #1a0806; }
  .zhuanfang .plane1 {
    position: absolute;
    right: 20px;
    top: -100px; }

.hangyebiaogan .block-title {
  padding: 70px 0 110px; }

.hangyebiaogan .bg {
  background: #1c151d url("../../img/brand-bg.jpg") 0 0 no-repeat; }

.hangyebiaogan .main {
  width: 1200px;
  height: 652px;
  margin: 0 auto;
  position: relative; }
  .hangyebiaogan .main p {
    position: absolute; }
  .hangyebiaogan .main .b1 {
    width: 320px;
    top: 0;
    left: 0; }
  .hangyebiaogan .main .b2 {
    width: 475px;
    top: -70px;
    left: 320px;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .15); }
  .hangyebiaogan .main .b3 {
    width: 320px;
    top: 0;
    left: 795px; }
  .hangyebiaogan .main .b4 {
    width: 539px;
    bottom: 0;
    left: 795px; }

.xinjinpinpai {
  padding-bottom: 60px; }
  .xinjinpinpai .block-title {
    padding: 140px 0 30px; }
  .xinjinpinpai .xinjinpinpai-swiper-wrap {
    width: 1095px;
    position: relative;
    margin: 0 auto; }
  .xinjinpinpai .swiper-container {
    width: 1095px;
    height: 280px; }
    .xinjinpinpai .swiper-container .swiper-slide {
      margin-right: 0px;
      height: 300px; }
      .xinjinpinpai .swiper-container .swiper-slide div {
        width: 350px;
        margin: 0 auto;
        background: #fff;
        -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, .2);
                box-shadow: 0px 0px 13px rgba(0, 0, 0, .2);
        position: relative; }
      .xinjinpinpai .swiper-container .swiper-slide p {
        font-size: 16px;
        padding: 48px 0 10px;
        text-align: center; }
  .xinjinpinpai .thumb {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
    position: absolute;
    top: 155px;
    left: 50%;
    margin-left: -30px; }
  .xinjinpinpai .swiper-button-next, .xinjinpinpai .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat; }
    .xinjinpinpai .swiper-button-next:active, .xinjinpinpai .swiper-button-prev:active {
      opacity: .6;
      -webkit-opacity: .6;
      filter: alpha(opacity=60); }
  .xinjinpinpai .swiper-button-next {
    left: -55px;
    background: url("../../img/icon-prev.png"); }
  .xinjinpinpai .swiper-button-prev {
    right: -55px;
    background: url("../../img/icon-next.png"); }

.jingxuanpinpai-wrap {
  background: #f7f7f7; }

.jingxuanpinpai {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px; }
  .jingxuanpinpai .block-title {
    padding: 55px 0 30px; }
  .jingxuanpinpai ul {
    padding-top: 45px; }
  .jingxuanpinpai li {
    float: left;
    width: 200px;
    height: 200px; }
    .jingxuanpinpai li a {
      display: block;
      width: 198px;
      height: 198px;
      background: #fff;
      transition: All 0.2s ease-in-out;
      -webkit-transition: All 0.2s ease-in-out;
      -moz-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out; }
      .jingxuanpinpai li a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .08);
                box-shadow: 0 0 16px rgba(0, 0, 0, .08); }

.jingxuanpinpai ul:after, .block-jxccr ul:after, .block-mjgs dl:after, .block-mjzf:after, .block-mjzf dt:after, .block-mjyl ul:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.block-jxccr {
  width: 1200px;
  margin: 0 auto; }
  .block-jxccr .block-title {
    padding-bottom: 56px; }
  .block-jxccr ul {
    position: relative;
    margin: 0 -50px; }
  .block-jxccr li {
    float: left;
    width: 413px;
    height: 124px;
    padding: 12px 50px 0 186px;
    position: relative;
    line-height: 1.5;
    margin-bottom: 28px; }
  .block-jxccr .thumb {
    width: 126px;
    height: 136px;
    position: absolute;
    top: 0;
    left: 50px;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
            box-shadow: 3px 3px 10px rgba(0, 0, 0, .2); }
  .block-jxccr .t {
    color: #000;
    display: inline-block;
    zoom: 1;
    *display: inline;
    border-bottom: 2px solid #000;
    font-size: 18px;
    padding-bottom: 3px; }
  .block-jxccr p {
    padding-top: 3px;
    color: #434343;
    font-size: 14px; }
  .block-jxccr .like {
    font-size: 12px;
    color: #999;
    position: absolute;
    padding-right: 15px;
    background: url("../../img/icon-like-full.png") right center no-repeat;
    top: 15px;
    right: 50px; }
  .block-jxccr .line-r {
    border-right: 1px solid #f0f0f0; }

.block-mjgs {
  width: 1180px;
  margin: 0 auto; }
  .block-mjgs dl {
    position: relative; }
  .block-mjgs dt {
    float: right;
    width: 220px; }
    .block-mjgs dt a {
      display: block;
      height: 127px;
      position: relative;
      margin-bottom: 10px;
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      opacity: 0.7;
      -webkit-opacity: 0.7; }
      .block-mjgs dt a.active {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
        -webkit-opacity: 1; }
      .block-mjgs dt a span {
        font-size: 12px;
        color: #fff;
        position: absolute;
        padding-left: 40px;
        left: 10px;
        bottom: 10px;
        background: url("../../img/icon-play.png") 0 center no-repeat;
        background-size: auto 100%; }
      .block-mjgs dt a b {
        display: block; }
  .block-mjgs dd {
    width: 950px;
    position: absolute;
    top: 0;
    left: 0; }
    .block-mjgs dd .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 87px;
      height: 87px;
      margin: -87px auto auto -43px;
      background: url("../../img/icon-play.png") 0 0 no-repeat;
      cursor: pointer; }
      .block-mjgs dd .btn:hover {
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        opacity: .8;
        -webkit-opacity: .8; }
    .block-mjgs dd p {
      color: #434343;
      font-size: 14px;
      padding: 5px 0 0 5px; }
      .block-mjgs dd p strong {
        color: #000;
        font-size: 18px;
        display: block; }

.jiangren .subpage-banner .news {
  padding-top: 70px;
  text-align: center; }
  .jiangren .subpage-banner .news .t {
    font-size: 20px;
    color: #77140d;
    display: inline-block;
    border: 1px solid #77140d;
    line-height: 1.5;
    font-weight: normal;
    padding: 0 1em; }
  .jiangren .subpage-banner .news h1 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 25px 0;
    padding: 0; }
  .jiangren .subpage-banner .news ul {
    text-align: left;
    padding-top: 20px; }

.block-mjzf {
  width: 1200px;
  margin: 0 auto; }
  .block-mjzf .plane1 {
    float: left; }
    .block-mjzf .plane1 .main {
      padding-bottom: 0;
      height: 530px; }
    .block-mjzf .plane1 .title {
      padding-bottom: 10px;
      padding-top: 0; }
    .block-mjzf .plane1 li {
      height: 56px;
      line-height: 56px;
      padding: 15px 0; }
    .block-mjzf .plane1 .thumb {
      width: 56px;
      height: 56px; }
    .block-mjzf .plane1 p {
      top: 15px; }
    .block-mjzf .plane1 p em {
      width: 1.2em;
      height: 1.2em;
      line-height: 1.2em;
      font-size: 16px;
      bottom: -1px;
      left: 38px; }
  .block-mjzf .img-slider {
    float: right;
    width: 775px;
    height: 550px;
    overflow: hidden; }
  .block-mjzf dl {
    position: relative; }
  .block-mjzf dt {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0; }
    .block-mjzf dt a {
      float: left;
      margin-right: 12px; }
  .block-mjzf dd {
    position: relative; }
  .block-mjzf .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .block-mjzf .textbox {
    position: relative;
    z-index: 2;
    padding-left: 475px; }
    .block-mjzf .textbox .fl {
      position: absolute;
      width: 17px;
      top: 0;
      left: 475px;
      height: 100%; }
      .block-mjzf .textbox .fl i {
        display: block;
        width: 17px; }
      .block-mjzf .textbox .fl .mask {
        height: 100px;
        background: url("../../img/img-arrow-mask.png") 0 0 no-repeat; }
      .block-mjzf .textbox .fl .bg {
        background: #f5f5f5;
        height: 100%; }
    .block-mjzf .textbox .main {
      background: #f5f5f5;
      position: relative;
      margin-left: 15px;
      padding: 0 10px 0 0;
      height: 550px; }
      .block-mjzf .textbox .main h2 {
        font-weight: bold;
        font-size: 18px;
        height: 62px;
        line-height: 62px;
        text-align: center;
        border-bottom: 1px solid #eaeaea; }
      .block-mjzf .textbox .main .desc {
        color: #434343;
        font-size: 14px;
        line-height: 1.6; }
        .block-mjzf .textbox .main .desc strong {
          color: #000;
          padding: 10px 0 5px;
          display: block;
          text-align: center;
          font-size: 18px; }

.block-mjyl {
  width: 1120px;
  margin: 0 auto; }
  .block-mjyl ul {
    margin-top: 25px; }
  .block-mjyl li {
    float: left;
    width: 280px;
    padding: 5px 0; }
    .block-mjyl li a {
      display: block;
      width: 270px;
      margin: 0 auto;
      background: #fff;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
              box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      position: relative;
      z-index: 1;
      transition: All 0.2s ease-in-out;
      -webkit-transition: All 0.2s ease-in-out;
      -moz-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out; }
      .block-mjyl li a:hover {
        z-index: 2;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
                box-shadow: 0 0 20px rgba(0, 0, 0, .2); }
    .block-mjyl li strong {
      display: block;
      font-size: 18px;
      padding: .5em .5em 0; }
    .block-mjyl li span {
      display: block;
      font-size: 14px;
      color: #434343;
      padding: 0 .5em .6em; }
    .block-mjyl li i {
      color: #434343;
      padding-right: 15px;
      position: absolute;
      background: url("../../img/icon-like-full.png") right center no-repeat;
      right: 10px;
      top: 320px;
      font-style: inherit; }
