<div class="header">
    <div class="w1200">
        <a href="/" class="header-logo"><img src="../img/logo.png" height="195" width="200" alt="一镇一品"></a>
        <div class="header-nav">
            <a href="#" class="header-navItem header-navItem--hover">
          <span class="header-navCont">
            <span class="fs12">HOME</span><br>
            首页
          </span>
            </a>
            <a href="#" class="header-navItem">
          <span class="header-navCont">
            <span class="fs12">a city a good brand</span><br>
            2017年度匠心企业
          </span>
            </a>
            <a href="#" class="header-navItem">
          <span class="header-navCont">
            <span class="fs12">Originality trip</span><br>
            匠心之旅
          </span>
            </a>
            <a href="#" class="header-navItem">
          <span class="header-navCont">
            <span class="fs12">Jiangyezhi</span><br>
            匠业志
          </span>
            </a>
            <a href="#" class="header-navItem">
          <span class="header-navCont">
            <span class="fs12">famous artisan</span><br>
            名匠列传
          </span>
            </a>
            <a href="#" class="header-navItem">
          <span class="header-navCont">
            <span class="fs12">Product certification</span><br>
            产品品鉴
          </span>
            </a>

        </div>
        <!-- hd-nav -->

        <div class="uiSearch">
            <input type="text" class="uiSearch-input">
            <button class="uiSearch-btn"></button>
        </div>
        <!-- ui-search -->
    </div>
    <!-- w1200 -->
</div>
<!-- header -->
  
