<footer class="footer">
    <div class="w1160 clearfix">
        <img src="../img/logo2.png" alt="" class="footer-logo">
        <div class="fl">
            <h3>REMARKS</h3>
            <p>中国中央电视台 版权所有 北京中金万城科技有限公司</p>
            <p>北京市朝阳区北辰西路8号北辰世纪中心B座3层 电话：4007-666-111
            </p>
            <p>京ICP备14027245号-1 京公网安备110000000018号
            </p>
            <p>京网文[2014]0383-083号</p>
        </div>

        <div class="fr ft-qrcode">
            <div class="rit">
                <dl>
                    <dt><img src="http://js.static.cctvmall.cn/img/weixin.jpg" width="72" height="72"></dt>
                    <dd>
                        <p class="bla3">央视网商城订阅号</p>
                        <p class="bla8c">追新品 赢免单 品生活<br>尽在"央视网商城"订阅号</p>
                    </dd>
                </dl>
                <dl style="margin: 0;">
                    <dt><img src="http://js.static.cctvmall.cn/img/weibo.jpg" width="72" height="72"></dt>
                    <dd>
                        <p class="blabtm">央视网商城服务号</p>
                        <p class="bla8c">赢免单，优惠购，心服务<br>尽在央视网商城服务号</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/src/lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/src/lib/swiper.min.js"></script>
<script type="text/javascript" src="/src/js/common.js"></script>