
@import "../var.scss";
@import '../mixin.scss';

body{
    background: $bodybg url(../../img/bodybg.png) repeat-x;
}

.fl{
    float: left;
}
.fr{
    float: right;
}




.indexBanner{
    &-item{
        height: 508px ;
        background-repeat: no-repeat ;
        background-position: center top;
    }
  .common-swiper.swiper-container{
    .swiper-pagination{
      left: 45%;
      right: 45%;
    }
  }
}
.block-title{
    text-align: center;
    padding: 40px 0; 
    h2{
        font: 24px/2 $font;
        color: $themeColor; 
    }
    p{
        background: url(../../img/dotline.png) no-repeat center center;
        background-size: 100% auto;

        span{
            display: inline-block;
            padding: 0 10px; 
            background: $bodybg;
        }
    }
}

.jxqy{
    &Cont{
        position: relative;
        width: 1160px ;
        height: 936px ;
        margin: 0 auto;
        border: 15px solid #c6bcb6;
        background: url(../../img/b2-bg.jpg) no-repeat center top;
        & .fl{
            position: relative;
            width: 600px; 
        }
        &-title{
            margin: 80px 0 0 60px;
            h3{
                font-size: 18px; 
            }
            p{
                color: $gray; 
            }
        }
        .jcp-wrapper{
          position: relative;
          .slide-arrow-left{
            left: 140px;
            top: 350px;
          }
          .slide-arrow-right{
            left: 460px;
            top: 350px;
          }
        }
        &-pics{
            li{
                position: absolute;
                width: 246px ;
                height: 311px ;
                overflow: hidden;
                img{
                    width: 100% ;
                    height: 100% ;
                }
                &:first-child{
                    left: 330px;
                    top: 40px; 
                    box-shadow: 0 0 20px rgba(0,0,0,.2);
                } 
                &:nth-child(3){
                    left: 40px;
                    top: 250px; 
                }
                &:nth-child(2){
                    z-index: 2; 
                    left: 130px;
                    top: 170px;
                    width: 356px ;
                    height: 465px ;
                    box-shadow: 0 0 40px rgba(0,0,0,.2);
                    .jxqyCont-picsTitle{
                        bottom: 0;
                        color: $themeColor; 
                    }
                }
              
            }
        }
        &-picsTitle{
            position: absolute;
            left: 0;
            bottom: -150px;
            width: 100% ;
            padding-top: 60px ;
            height: 40px ;
            background: #fff; 
            text-align: center;
            font-size: 18px ;
            line-height: 1; 
            
        }
        &-picsLogo{
            position: absolute;
            left: 50%;
            margin-left: -37px ;
            top: -37px; 
            background: #000;
            border-radius: 50%;
            img{
                border-radius: 50%;
            }
            p{
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100% ;
                line-height: 74px;  
                font-size: 14px;
                color: #FFF ; 
            }
            &:hover{
                img{
                    opacity: .7; 
                }
                p{
                    display: block;
                }
            }
        }
        &-text{
            margin: 540px 40px 0;
            font: 14px/1.8 $font;
            text-indent: 2em ; 
            text-align: justify;
        }

        &-right{
            position: absolute;
            left: 630px;
            top: -30px; 
            width: 560px; 
            @at-root .jxqyCont-rightItem{
                position: relative;
                height: 343px ;
                box-shadow: 0 0 40px rgba(0,0,0,.2);
                
                .jxqyCont-picsTitle{
                    bottom: 0;
                }

                &:hover{
                    .jxqyCont-picsTitle{
                        color: $themeColor; 
                    }
                }
            }
            .jxqyCont-text{
                margin: 20px 60px 20px 40px; 
            }
        }
    }
}

.center-box{
    padding: 20px; 
    text-align: center;
}
.btn-more{
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    img{
        display: block;
    }
    .bm-icon{
        position: absolute;
        left: -35px ;
        top: 0;
    }
}

.hylpz{
    height: 730px;
    background: #FFF url(../../img/b3-bg.jpg) no-repeat center top;
    .w1160{
      position: relative;
    }
    &-title{
        margin-top: 30px; 
    }
    &-pics{
        width: 602px ;
        margin-top: 30px; 
        font-size: 0; 
    }
    &-pic{
        position: relative;
        display: inline-block;
        font-size: 14px; 
        border: 1px solid #a98e7f;
        p{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100% ;
            text-align: center;
            color: #FFF ; 
            line-height: 2.5; 
        }
        &:first-child{
            margin-bottom: 1px; 
        }
        &:last-child{
            margin-left: 1px;
        }
    }
}

.hylpz-news{
  position: absolute;
  left: 633px;
  top: -50px;
  .box-inset-radius{
    &:after,
    &:before{
      background: #F2F2F2;
    }
  }
  .box-inset-radius-inner{
    width: 544px;
    height:742px;
  }

  .partner-list{
    padding:0 5% 5% 10%;
    overflow: hidden;
    li{
      float: left;
      width: 44%;
      margin: 12px;
    }
    .list-icon{
      width: 34px;
      height: 34px;
    }
    .list-cont{
      display: inline-block;
      height: 36px;
      overflow: hidden;
      vertical-align: middle;
      width: 10em;
      line-height:1.5;
      border-left: 1px dotted #ccc;
      margin-left:1em;
      padding-left:1em;
    }
  }
}


.jxzl{
  background: #FFFFFF;
  .block-title{
    span{
      background-color: #fff;
    }
  }
  .jxzl-swiper{
    width: 809px;
  }
  .jxzl-l-b{
    padding-top: 27px;
    .active{
      box-shadow: 0 0 10px #ccc;
      background: #000;
      img{
        opacity: .8;
      }
      .arrowl{
        background: url("../../img/i-arrow-l-active.png");
      }
      .arrowr{
        background: url("../../img/i-arrow-r-active.png");
      }
    }

    .fl,
    .fr{
      position: relative;
      border: 1px solid #d4c6bf;
    }
    .arrowl,
    .arrowr{
      position: absolute;
      display: inline-block;
      top: 50%;
      margin-top: -5px;
      width: 5px;
      height: 9px;
    }
    .arrowl{
      right: -15px;
      background: url("../../img/i-arrow-l.png");
    }
    .arrowr{
      left: -15px;
      background: url("../../img/i-arrow-r.png");
    }
  }
  .jxzl-cont{
    width: 244px;
    margin: 0 auto;
  }
  .box-inset-radius-inner{
    height:190px;
    overflow: hidden;
  }
  .jc-title{
    width:9em;
    margin: 18px auto;

    h3{
      height: 36px;
      overflow: hidden;
    }
  }
  .jc-list{
    width: 12em;
    margin: 0 auto;
    li{
      height: 36px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }
  .center-box{
    margin-bottom:0;
  }
}
.jxzl-rank{
  width: 338px;
  height: 640px;
  margin-top: -10px;
  background: url("../../img/b4-r-bg.jpg") no-repeat;
  .box-inner-title-tal{
    padding-left: 50px;
  }
}
.jxzl-ranklist{
  padding: 0 50px;
  li{
    margin-bottom: 26px;
  }
  .rank-num{
    display: inline-block;
    width: 2em;
    vertical-align: middle;
    font-size: 16px;
    strong{
      font: 300 24px arial;
    }
  }
  .rl-icon{
    margin: 0 10px;
  }
  .rank-title{
    display: inline-block;
    vertical-align: middle;

    p{
      width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.jyz-cont{
  height: 610px;
  padding: 17px;
  margin-bottom: 50px;
  background: url("../../img/b2-bg.jpg");
  & > .fl{
    width: 385px;
  }
  .uiSearch{
    float: none;
    background: #FFFFFF;
    margin: 13px 0 0 0px;
    box-shadow: none;
    width: 364px;
    &-input{
      width: 250px;
    }
  }
  .jyz-left-tit{
    text-align: center;
    height: 56px;
    font: 16px/56px arial;
    color: $themeColor;
    background: url("../../img/dot-line-sm.png") no-repeat center center;
  }
}
.jyz-left-swiper{
  width: 384px;
  position: relative;
  .img-mask{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .tabs-menu{
    position: absolute;
    left: 0;
    bottom: 0;
    li{
      float: left;
      width: 42%;
      height: 36px;
      overflow: hidden;
      padding: 0 4% 15px;
      color: #FFFFFF;
      &:hover,
      &.active{
        color: #db0004;
      }
    }
  }
  .top-line{
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
    background: #db0004;
    opacity: .7;
  }
}
.jyz-middle{
  float: left;
  width: 394px;
  margin-left: 4px;
  .swiper-slide{
    position: relative;

  }
  .swp-tit{
    position: absolute;
    width: 100%;
    height: 48px;
    left: 0;
    bottom: 0;
    text-align: center;
    font: 16px/48px $font;
    background: rgba(255,255,255, .5);
  }
  .swiper-button-next{
    background: url("../../img/i-arrow1-r.png") no-repeat center center;
    &:hover{
      background: url("../../img/i-arrow1-r-active.png") no-repeat center center;
    }
  }
  .swiper-button-prev{
    background: url("../../img/i-arrow1-l.png") no-repeat center center;
    &:hover{
      background: url("../../img/i-arrow1-l-active.png") no-repeat center center;
    }
  }
  .swiper-pagination{
    bottom: 0px;
    .swiper-pagination-bullet{
      float: left;
      width: 20%;
      height: 7px;
      background: #000;
      border-radius: 0;
      margin: 0;
      opacity: 1;
      &.swiper-pagination-bullet-active{
        background: $themeColor;
      }
    }
  }
}
.jyz-middle-top{
  .swiper-button-next,
  .swiper-button-prev{
    left: auto;
    top: auto;
    right: 5px;
    bottom: 5px;
  }
  .swiper-button-prev{
    right: 30px;
  }
}
.jyz-middle-bottom{
  position: relative;
  width: 300px;
  height: 288px;
  margin: 30px auto;
  background: url("../../img/b4-m-bg.png") no-repeat;
  .swiper-button-next,
  .swiper-button-prev{
    margin-top: 5px;
    margin-right: -10px;
  }
  .swiper-button-prev{
    right: 30px;
    margin-left: -10px;
  }
  img{
    border-radius: 50%;
  }
  .jmb-img{
    position: relative;
    width: 206px;
    height: 206px;
    margin: 65px 47px auto;
    a:hover{
      .swp-tit{
        display: block;
      }
    }
    .swp-tit{
      display: none;
      width: 100%;
      height: 206px;
      line-height: 206px;
      background: rgba(0,0,0, .5);
      border-radius: 50%;
      color: #FFFFFF;
    }
  }
  .btn-more{
    position: absolute;
    right: -46px;
    top: -20px;
  }
}
.jyz-right{
  .box-inset-radius{
    &:after,
    &:before{
      background: #fafaf9;
    }
  }
  .box-inset-radius-inner{
    width: 350px;
    height: 600px;
  }
  .tabs-box{
    padding: 0 20px;
  }
  .tabs-menu{
    position: relative;
    overflow: hidden;
    zoom: 1;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10px;
      background: url("../../img/shadow-top.png") no-repeat center bottom;
    }
  }
  .tabs-menu-item{
    float: left;
    width: 101px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 1px;
    background: #939393;
    color: #FFFFFF;
    &.active{
      background: $themeColor;
    }
  }
}
.jyz-right-list{
  padding: 20px 10px;
  li{
    position: relative;
    height: 56px;
    overflow: hidden;
    margin-bottom: 5px;
    a{
      display: block;
      padding: 10px 19px;
    }
    &:hover{
      background: url("../../img/shadow-top.png") no-repeat center top;
      a{
        background: url("../../img/shadow-bot.png") no-repeat center bottom;

      }
    }

  }
  .jrl-num{
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: inline-block;
    padding-left: 15px;
    background: #FFFFFF;
  }
}

.mjlz{
  background: #FFFFFF;
  .block-title p span{
    background: #FFFFFF;
  }
  .mjlz-left{
    width: 704px;
  }
  .gallery-thumbs{
    overflow: visible;
  }
  .mjlz-rank{
    width: 485px;
    height: 640px;
    margin-top: -10px;
    background: url("../../img/b6-r-bg.jpg") no-repeat;
    .rank-avatar{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 5px solid #ccc;
      border-radius: 50%;
      margin-right: 10px;
      &:hover{
        .hover-mask{
          display: block;
          border-radius: 50%;
          line-height: 100px;
        }
      }
      img{
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        border-radius: 50%;
      }
    }
    .jxzl-ranklist{
      a{
        display: block;
      }
      a:hover{
        background: url("../../img/b6-list-bg.jpg") no-repeat center center;
      }
    }
    .btn-more{
      margin-left: 50px;
    }
  }
}
.gallery-top {
  height: 438px;
  width: 100%;
  .swiper-slide{
    a{
      position: relative;
      display: block;
    }
    .btn-more{
      position: absolute;
      display: inline-block;
      right: 20px;
      bottom: 100px;
    }
  }
  .sl-text{
    position: absolute;
    width: 270px;
    left: 70px;
    top: 270px;
  }

}
.gallery-thumbs {

  height: 20%;
  box-sizing: border-box;
  padding: 40px 0 0;
}
.gallery-thumbs .swiper-slide {
  position: relative;
  width: 145px;
  height: 132px;
  line-height: 132px;
  margin-right: 28px;
  transition: transform .3s;
  //border: 1px solid transparent;
  &:hover{
    border: 1px solid #000;
    margin-right: 26px;
    .hover-mask{
      display: block;
    }
  }
}
.gallery-thumbs .active-nav {
  transform: scale(1.1);
  box-shadow: 4px 4px 5px rgba(0,0,0,.1);
}
.cppj{
  background: #59514f;
  padding-bottom: 50px;
  .w1200{
    width: 1000px;
  }
  .block-title{
    color: #FFFFFF;
    h2{
      color: #FFFFFF;
    }
    p{
      background-image: url("../../img/tit-line-white.png");
      span{
        background: transparent;
      }
    }
  }
  .cppj-left{
    width: 660px;
  }
  .cppj-left-item{
    height: 214px;
    background: #FFFFFF;
    margin-bottom: 15px;
    .cli-pro{
      transition: transform .3s;
      transform-origin: center 100%;
    }
    &:hover{
      .cli-pro{
        transform: scale(1.05);
      }
    }
  }
  .cli-img{
    float: left;
    img{
      float: left;
      height: 214px;
    }
  }
  .cli-cont{
    margin-left: 340px;
  }
}
.common-article-info{
  padding: 15px;
  h3{
    font: 16px/2 $font;
  }
  .art-author{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px;
    color: #999;
    span{
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
    img{
      display: inline-block;
      vertical-align: -2px;
      margin-right: 5px;
    }

  }
  .art-cont{
    height: 54px;
    overflow: hidden;
    padding: 15px 0;
  }
  .art-data{
    text-align: right;
    span{
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
.cppj-right{
  width: 333px;
  .cppj-left-item{
    height: 443px;
    .btn-more{
      float: right;
      margin: 5px 15px;
    }
    .cli-pro{
      transform-origin: bottom center;
    }
    .cli-cont{
      margin-left: 0;
    }
    .cli-img{
      margin-bottom: 15px;
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}