@import "../var.scss";
@import '../mixin.scss';

.jiangxinzhi{}
// 公共部分
.subpage-banner{
  width:100%;
  height: 660px; 
  overflow: hidden;
  position: relative;
  .bg-below{
    height: 512px;
    background: #f0f0f0 url("../../img/brand-banner-bg.png");
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
  }
  .main{
    width: 1200px;
    margin:0 auto;
    position: relative;
    z-index: 2;
    padding:72px 0 0;
  }
  .bg-center{
    width: 500%;
    position: absolute;
    top:72px;
    left:0;
    .bg{
      height: 512px;
      background: #c6bbb5;
      position: relative;
      left:-56px;
    }
  }
  .info{
    position: relative;
    z-index: 3;
    top:-40px;
  }
  .slider{
    width: 844px;
    float:left;
    box-shadow:0 0 25px #666;
    .swiper-container{
      height: 596px;
    }
  }
  .news{
    width: 300px;
    float: right;
    font-size:16px;
    line-height: 44px;
    padding-top:100px;
    a{
      color:#575757;
      text-decoration: none;
    }
    li{
      padding-left:.5em;
      border-bottom:1px dashed #aaa39e;
    }
  }
  h1{
    text-indent: -9999px;
    width: 174px;
    height:47px;
    padding-bottom:1.5em;
    background: url("../../img/title-news.png") 0 0 no-repeat;
  }
}
// end .subpage-banner
.plane1{
  padding:10px;
  background: #e6e6e6;
  filter:alpha(opacity=40);
  background: rgba(230,230,230,.4);
  .main{
    font-size: 16px;
    width: 332px;
    padding:0 30px 38px;
    background: #fff;
  }
  .title{text-align: center;padding:5px 0 27px;}
  .icon{
    margin:17px 0 0 -15px;
  }
  .thumb{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow:8px 7px 10px #ededed;
  }
  li{
    height: 64px;
    line-height: 64px;
    padding:20px 0;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    text-align: right;
    i{
      width: 16px;height:13px;
      display:inline-block;
      zoom:1;
      *display:inline;
      background: url("../../img/icon-like.png") 0 0 no-repeat;
    }
  }
  p{
    position: absolute;
    top:20px;
    left:0;
    font-size: 18px;
    em{
      font-size:16px;
      color:#fff;
      position: absolute;
      left:40px;
      bottom:-3px;
      width: 1.5em;
      height:1.5em;
      line-height: 1.5em;
      background: #a0a0a0;
      border-radius: 100%;
      text-align: center;
      font-style: normal;
    }
  }
  .thumb{
    margin-right:1em;
  }
  .active{
    color:#ab2b22;
    p{
      font-weight: bold;
      em{
        background: #ab2b22;
        font-weight: normal;
      }
    }
  }
}
//end plane1
.block-title{
  text-align: center;padding:30px 0;
}
// end block-title
.block-search{
  text-align: center;
  p{
    display: inline-block;
    zoom:1;*display:inline;
    height:29px;
    border-radius: 13px;
    box-shadow: 0 0 5px rgba(0,0,0,.2)
  }
  input{
    border:none;
    background: none;
    width: 300px;
    height: 29px;
    padding:0 1em;
    font-size:16px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #c4c4c4;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #c4c4c4;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #c4c4c4;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #c4c4c4;
    }
  }
  button{
    height: 29px;
    width: 56px;
    text-indent: -9999px;
    border:none;
    background: url('../../img/icon-search.png') center center no-repeat;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }
}
// end block-search
.zhuanfang{
  color:#333;
  width: 1200px;
  margin:100px auto 0;
  position: relative;
  .bg{
    height: 688px;
    background: #1a0806;
  }
  .plane1{
    position: absolute;
    right:20px;
    top:-100px;
  }
}

.hangyebiaogan{
  .block-title{padding:70px 0 110px;}
  .bg{
    background: #1c151d url("../../img/brand-bg.jpg") 0 0 no-repeat;
  }
  .main{
    width: 1200px;height:652px;margin:0 auto;position: relative;
    p{
      position: absolute;
    }
    .b1{width: 320px;top:0;left:0;}
    .b2{width: 475px;top:-70px;left:320px;box-shadow:0px 0px 25px rgba(0,0,0,.15);}
    .b3{width: 320px;top:0;left:795px;}
    .b4{width: 539px;bottom:0;left:795px;}
  }
}

.xinjinpinpai{
  padding-bottom: 60px;
  .block-title{padding:140px 0 30px;}
  .xinjinpinpai-swiper-wrap{
    width: 1095px;
    position: relative;
    margin:0 auto;
  }
  .swiper-container{
    width: 1095px;
    height:280px;
    .swiper-slide{
      margin-right: 0px;height:300px;
      div{
        width:350px;
        margin:0 auto;
        background: #fff;
        box-shadow:0px 0px 13px rgba(0,0,0,.2);
        position: relative;
      }
      p{
        font-size: 16px;
        padding:48px 0 10px;
        text-align: center;
      }
    }
  }
  .thumb{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow:0px 0px 15px rgba(0,0,0,.2);
    position: absolute;
    top:155px;
    left:50%;
    margin-left:-30px;
  }
  .swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    &:active{
      opacity: .6;
      -webkit-opacity: .6;
      filter:alpha(opacity=60);
    }
  }
  .swiper-button-next{
    left:-55px;
    background: url('../../img/icon-prev.png');
  }
  .swiper-button-prev{
    right:-55px;
    background: url('../../img/icon-next.png');
  }
}

.jingxuanpinpai-wrap{
  background: #f7f7f7;
}

.jingxuanpinpai{
  width: 1200px;margin:0 auto;position: relative;
  padding-bottom: 100px;
  .block-title{padding:55px 0 30px;}
  
  ul{
    @extend %clearfix;
    padding-top:45px;
  }
  li{
    float:left;
    width: 200px;
    height: 200px;
    a{
      display: block;
      width: 198px;
      height:198px;
      background: #fff;
      transition:All 0.2s ease-in-out;
      -webkit-transition:All 0.2s ease-in-out;
      -moz-transition:All 0.2s ease-in-out;
      -o-transition:All 0.2s ease-in-out;
      &:hover{
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -o-transform:scale(1.1);
        -ms-transform:scale(1.1);
        box-shadow: 0 0 16px rgba(0,0,0,.08)
      }
    }
  }
}