@import "var.scss";
@import "reset.scss";
@import "mixin.scss";
@import "swiper2.7.6.scss";

body{
    min-width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;  
}
ul,p,dl,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0; 
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    font-size: 100%;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    color: #2d2d2d;

    &:hover{
        outline: none;
        //color: $themeColor;
         color: #c9090c;
    }
}
button, input, select, textarea, label {
    font-size: 100%; vertical-align:middle;
}

input:focus {
    outline: none;
}

input {
    margin: 0;
    padding: 0;
    // @include input-placeholder {
    //     font-style: normal;
    //     // font-size: .7rem;
    //     color: $gray;
    // }
}

.w1200{
    width: 1200px;
    margin: 0 auto; 
}
.w1160{
    width: 1160px;
    margin: 0 auto; 
}
.mb80{
    margin-bottom: 80px; 
}
.clearfix:after{
    content: "" ;
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;  
}
.tr{text-align: right;}
.c-red{color: $themeColor;}
.btn-area{
    text-align: center;
    padding: $paddingSide;
}
.pic-effect{
    transition: all .5s;
    &:hover{
        position: relative;
        z-index: 1; 
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
}
.ui-btn {
    width: 80%;
    display: inline-block;
    font: 300 .4rem/2 $font;
    text-align: center;
    background: $themeColor;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: 0 none;
    &:link,
    &:visited{
        color: #fff;
    }
    &:hover{
        color: #fff;
    }
}
.ui-btn-sm{
    display: inline-block;
    width: 5em;
    height: auto;
    padding: 0 10px;
    font-size: .3rem;
    border: 0 none;
}
.ui-btn-mid{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 10px;
    line-height: 2;
    font-size: .6rem;
    border: 0 none;
}
.ui-btn-gray{
    background: #fff;
    border: 1px solid $gray;
    color: $darkGray;
    &:link,
    &:visited{
        color: $darkGray;
    }
}

.ui-btn-red{
    background: #fff;
    border: 1px solid $red;
    color: $red;
    &:link,
    &:visited{
        color: $red;
    }
}



.box-inset-radius{
  position: relative;
  background: #a98e7f;
  overflow: hidden;
  //border-radius: 10px/10px;
  .box-inset-radius-inner{

    margin: 1px;
    background: #FFFFFF;
  }
  &:after,
  &:before,
  .box-inset-radius-inner:after,
  .box-inset-radius-inner:before{
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    width:18px;
    height:18px;
    border: 1px solid #a98e7f;
    border-radius: 50%;
    background: #FFFFFF;
  }
  &:before,
  .box-inset-radius-inner:before{
    left: auto;
    right: -10px;

  }
  .box-inset-radius-inner:after,
  .box-inset-radius-inner:before{
    top: auto;
    bottom: -10px;
  }
}
.box-inset-radius-wrapper{
  position: relative;
  .bi-shadow{
    position: absolute;
    width: 100%;
    height:24px;
    left: 0;
    bottom: -24px;
    opacity: .5;
    background: url(../img/b3-r-shadow.png) no-repeat center top;
    background-size: 100% auto;
  }
}

.box-inner-title{
  padding: 30px;
  text-align: center;
  font: 18px/1.2 simsun,microsoft yahei, arial;
  &.box-inner-title-tal{
    text-align: left;
    padding: 40px;
    h3{
      display: inline-block;
      line-height: 1.5;
      border-bottom: 1px solid $themeColor;
    }
  }
}
.hover-mask{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  color: #FFFFFF;
  background: rgba(0,0,0, .4);
}

.css-arrow{
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $orange transparent;
}

.flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.ui-flex-box{
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.ui-flex-item{
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
        flex: 1;
}
.ui-flex-box-inline{
    display: inline-flex;
}

.tabs-flex{
    border-bottom: 1px solid $borderColor;
    .ui-flex-item{
        text-align: center;
        font: .7rem/3 $font;
        margin-bottom: -1px;
        color: $darkGray;
        border-right: 1px solid $borderColor;
        &.current{
            color: $themeColor;
            border-bottom: 1px solid $themeColor;
        }
        .iconfont{
            color: $red;
            margin-right: 10px;
        }
    }
}


.ui-media{
    display: flex;
    align-items: flex-start ;
    .media-figure{
        margin-right: 1em; 
    }
    .media-body{
        flex: 1;
    }
}
.common-swiper{
  &.swiper-container{
    .swiper-pagination{
      display: inline-block;
      width: auto;
      right: 20px;
      bottom: 20px;
      left: auto;
      padding: 0 10px;
      background: rgba(0,0,0,.2);
      border-radius: 15px;
      .swiper-pagination-bullet{
        background: #ffffff;
        opacity: .8;
        margin: 0 10px;
      }
      .swiper-pagination-bullet-active{
        background: $themeColor;
        position: relative;
        z-index: 2;
        &:before{
          content: '';
          position: absolute;
          width: 130%;
          height: 130%;
          border: 1px solid $themeColor;
          left: -25%;
          top: -25%;
          border-radius: 50%;
        }
      }
    }
  }
  .swiper-button-prev{
    background: url("../img/slide-arrow-l.png") no-repeat center center;
    &:hover{
      background: url("../img/slide-arrow-l-active.png") no-repeat center center;
    }
  }
  .swiper-button-next{
    background: url("../img/slide-arrow-r.png") no-repeat center center;
    &:hover{
      background: url("../img/slide-arrow-r-active.png") no-repeat center center;
    }
  }
}
.slide-arrow-left,
.slide-arrow-right{
  position: absolute;
  width: 19px;
  height: 35px;
  z-index: 2;
}
.slide-arrow-left{
  background: url("../img/slide-arrow-l.png");
  &:hover{
    background: url("../img/slide-arrow-l-active.png");
  }
}
.slide-arrow-right{
  background: url("../img/slide-arrow-r.png");
  &:hover{
    background: url("../img/slide-arrow-r-active.png");
  }
}


.search-box{
    height: auto;
    padding: 15px;
    background: #EFEFEF ;
    text-align: center;
    border-bottom: 1px solid #e2e1e0;/*no*/
    .search{
        position: relative;
        line-height: 1;
        padding: 10px; 
        border-radius: .8rem;
        background: #fff;
        @extend .ui-flex-box;
    }
    .s-text{
        @extend .ui-flex-item;
        font-size: 24px; /*px*/
        font-weight: 300;
        border: 0 none;
        background: transparent;
        &::-webkit-input-placeholder {
          color: $gray;
        }
    }
    .iconfont{
        margin: 0 .5em;
        color: #B7B5B4 ;
        font-size: 0.5rem;
    }
    .s-btn{
        width: 4em;
        text-align: center;
        font-size: .8rem;
        border: 0 none;
        color: #fff;
        background: $themeColor;
        border-radius: 5px;
        font-weight: 100;
    }
}


.link-style {
  background: #fff;
  border-bottom: 1px solid #e4e4e4; /*no*/
  padding: 0 3%;
}
.link-style a {
  position: relative;
  display: block;
  padding: 4% 9% 4% 3%;
  font-size: 28px; /*px*/
  color: #000;
}
.link-style a:after {
  font-family: iconfont;
  position: absolute;
  content: attr(data-icon);
  top: 50%;
  margin-top: -10px;
  right: 5px;
  color: $borderColor;
  font-size: 18px;
}
.link-style p {
  color: #999;
}
.ui-select {
  display: inline-block;
  vertical: middle;
  position: relative;
  max-width: 6em;
  padding: 10px;
  margin: 0 2px;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  .iconfont{
      font-size: 12px;
  }
}
.ui-select-option {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}



// 页面底部
.footer{
  padding: 35px 0;
  background: #372f2d;
  font-size: 14px;
  color: #FFFFFF;

  h3{
    font: 18px/2.5 $font;
  }
  .footer-logo{
    float: left;
    margin: 0 40px;
  }
}
.footer .rit {
  float: right;
  padding: 0 0 0 40px;
  width: 300px;
  border-left: 1px dotted #ccc;
  }

.footer .rit dl {
  height: 75px;
  margin: 0 0 10px;
  overflow: hidden; }

.footer .rit dt,
.footer .rit dd {
  margin: 0;
  height: 75px;
  float: left;
  overflow: hidden; }

.footer .rit dt {
  width: 75px;
  height: 75px; }

.footer .rit dd {
  padding: 5px 0 0 10px;
  color: #999;
  width: 206px; }

.footer .rit p {
  line-height: 18px;
  margin-top: 3px; }

.footer .rit p.bla3 {
  color: #f2f2f2; }

.footer .rit span {
  line-height: 16px;
  color: #333; }

.footer .rit .blabtm {
  padding: 0 0 4px;
  color: #f2f2f2; }



.header{
  .w1200{
    overflow: hidden;
  }
  @extend %clearfix;
  &-logo{
    float: left;
  }
  &-nav{
    float: left;
    width: 780px ;
    text-align: right;
    &Item{
      float: left;
      height: 155px ;
      padding: 20px 23px;
      font-size: 14px;

      .fs12{
        font-size: 12px;
        color: #999;
      }

      &--hover,
      &:hover{
        color: #fff;
        background: url(../img/navbg.png) no-repeat right top;
        .fs12{
          color: #FFF ;
        }
      }


    }

    &Cont{
      display: inline-block;
      margin-top: 120px;
    }

  }
  .uiSearch{
    width: 160px;
    margin-top: 140px ;
    border: 1px solid $themeColor;
  }

  @at-root .uiSearch{
    float: left;
    position: relative;
    width: 100% ;
    height: 100% ;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    &-label{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      line-height:1.1;
      padding-right: 10px;
      border-right: 1px solid #ccc;
      strong{
        font-size:  16px;
      }
      p{
        font-size: 12px;
      }
      &+input{
        width: auto;
      }
    }
    &-input{
      width: 100% ;
      background: transparent;
      border: 0 none;
    }
    &-btn{
      position: absolute;
      top: 50%;
      right: 10px;
      width: 19px;
      height: 19px ;
      transform: translateY(-50%);
      border: 0 none;
      background: url(../img/i-zoom.png) no-repeat center center;
    }
  }

}

/*
 * Swiper 2.7.6
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: February 11, 2015
*/
/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  direction:ltr;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  /* Fix of Webkit flickering */
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;
  
  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;
  
  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);
  
  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;
  
  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */

  /*width:200px;
  height: 100px;*/
}
.swiper-slide {
  /* Specify Slides's Size: */
  
  /*width: 100%;
  height: 100%;*/
}
.swiper-slide-active {
  /* Specific active slide styling: */
  
}
.swiper-slide-visible {
  /* Specific visible slide styling: */ 

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  /* Stylize pagination button: */  

}
.swiper-active-switch {
  /* Specific active button style: */ 
  
}
.swiper-visible-switch {
  /* Specific visible button style: */  
  
}
