<!DOCTYPE html>
<html lang="zh-CN">
<head>
  
  <title>一镇一品</title>
  
  <%-include include/header %>
  <link rel="stylesheet" href="../css/page/index.css">

</head>
<body>

<%-include include/commonTop %>

  <div class="indexBanner">
      <!-- Swiper -->
      <div class="swiper-container common-swiper index-banner">
          <div class="swiper-wrapper">
              <div class="swiper-slide indexBanner-item" style="background-image: url(../../images/banner1.jpg)"></div>
              <div class="swiper-slide indexBanner-item" style="background-image: url(../../images/banner1.jpg)"></div>
              <div class="swiper-slide indexBanner-item" style="background-image: url(../../images/banner1.jpg)"></div>
              <div class="swiper-slide indexBanner-item" style="background-image: url(../../images/banner1.jpg)"></div>

          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!--&lt;!&ndash; Add Arrows &ndash;&gt;-->
          <!--<div class="swiper-button-next"></div>-->
          <!--<div class="swiper-button-prev"></div>-->
      </div>


  </div>
  <!-- indexBanner -->

  <div class="jxqy mb80">
    <div class="w1200">
      <div class="block-title">
        <h2>2017年度CCTV“一镇一品”匠心企业提名</h2>
        <p><span>匠心企业计划助力打造中国匠心品牌</span></p>
      </div>

      <div class="jxqyCont">
        <div class="fl">

          <div class="jxqyCont-title">
            <img src="../img/dotdot.png" height="6" width="53" alt="">
            <h3>区域先锋版块</h3>
            <p>REGIONAL PIONEER SECTION</p>
          </div>
            <div class="jcp-wrapper">
          <ul class="jxqyCont-pics">
            <li>
                <a href="#">
              <img src="../../images/b2-l-img1.jpg" height="311" width="246" alt="">
              <div class="jxqyCont-picsTitle">
                先锋企业 · 荣宝斋1

                <div class="jxqyCont-picsLogo">
                  <img src="../../images/b2-r-img2.jpg" height="74" width="74" alt="">
                  <p>中金万城</p>
                </div>
              </div>
                </a>
            </li>  

            <li>
                <a href="#">
              <img src="../../images/b2-l-img1.jpg" height="311" width="246" alt="">
              <div class="jxqyCont-picsTitle">
                先锋企业 · 荣宝斋2

                <div class="jxqyCont-picsLogo">
                  <img src="../../images/b2-r-img2.jpg" height="74" width="74" alt="">
                  <p>中金万城</p>
                </div>
              </div>
                </a>
            </li>  

            <li>
                <a href="#">
              <img src="../../images/b2-l-img1.jpg" height="311" width="246" alt="">
              <div class="jxqyCont-picsTitle">
                先锋企业 · 荣宝斋3

                <div class="jxqyCont-picsLogo">
                  <img src="../../images/b2-r-img2.jpg" height="74" width="74" alt="">
                  <p>中金万城</p>
                </div>
              </div>
                </a>
            </li>                      
  
          </ul>
                <span class="slide-arrow-left"></span>
                <span class="slide-arrow-right"></span>
            </div>
          <!-- jxqyCont-pics -->

          <div class="jxqyCont-text">
            <p>为了开始本教程，我们将要需要一个运行着的服务器。这将是我们纯粹用来获取和保存数据的伺服终端。为了让这尽可能的容易，我们已经用许多不同的语言编写了简单的服务器，它正好完成我们需要的事。 你可以查看源代码 或者 下载 zip 文件 为了简单起见，我们将要运行的服务器使用 JSON 文件作为数据库。你不会在生产环境运行这个，但是它让我们更容易模拟使用一个 API 时你可能会做的事。一旦你启动服务器，它将会支持我们的 API 终端，同时也将伺服我们需要的静态页面。</p>

            <div class="center-box">
                <a href="#" class="btn-more">
                  <img src="../img/i-more.png" height="29" width="94" alt="more">
                  <img src="../img/i-icon.png" height="29" width="29" alt="icon" class="bm-icon">
                </a>
            </div>
          </div>
          <!-- jsqyCont-text -->
        </div>
        <!-- fl -->

        <div class="jxqyCont-right">
            <div class="jxqyCont-rightItem">
              <img src="../../images/b2-r-img1.jpg" height="243" width="560" alt="">
              <div class="jxqyCont-picsTitle">
                先锋企业 · 荣宝斋

                <div class="jxqyCont-picsLogo">
                  <img src="../../images/b2-r-img2.jpg" height="74" width="74" alt="">
                  <p>中金万城</p>
                </div>
              </div>
            </div>
            <!-- jxqyCont-rightItem -->

            <div class="jxqyCont-text">
              <p>为了开始本教程，我们将要需要一个运行着的服务器。这将是我们纯粹用来获取和保存数据的伺服终端。为了让这尽可能的容易，我们已经用许多不同的语言编写了简单的服务器，它正好完成我们需要的事。 你可以查看源代码 或者 下载 zip 文件 为了简单起见使用 。</p>
          </div>
          <!-- jsqyCont-text -->

          <div class="jxqyCont-rightItem">
              <img src="../../images/b2-r-img1.jpg" height="243" width="560" alt="">
              <div class="jxqyCont-picsTitle">
                先锋企业 · 荣宝斋

                <div class="jxqyCont-picsLogo">
                  <img src="../../images/b2-r-img2.jpg" height="74" width="74" alt="">
                  <p>中金万城</p>
                </div>
              </div>
            </div>
            <!-- jxqyCont-rightItem -->

            <div class="jxqyCont-text">
              <p>为了开始本教程，我们将要需要一个运行着的服务器。这将是我们纯粹用来获取和保存数据的伺服终端。为了让这尽可能的容易，我们已经用许多不同的语言编写了简单的服务器，它正好完成我们需要的事。 你可以查看源代码 或者 下载 zip 文件 为了务器使用 。</p>
          </div>
          <!-- jsqyCont-text -->

        </div>
        <!-- .jxqyCont-right -->
      </div>
      <!-- jxqyCont -->
    </div>
    <!-- w1200 -->
  </div>
  <!-- jxqy -->

  <div class="hylpz">
    <div class="w1160">
      <img src="../img/b3-title.png" height="37" width="610" alt="行业领跑者" class="hylpz-title">

      <div class="hylpz-pics">

        <div class="hylpz-pic pic-effect">
          <img src="../../images/b3-l-img1.jpg" height="302" width="599" alt="">
          <p>千年老妖，哪里跑</p>
        </div>  

        <div class="hylpz-pic pic-effect">
          <img src="../../images/b3-l-img2.jpg" height="289" width="298" alt="">
          <p>千年老妖，哪里跑</p>
        </div> 

        <div class="hylpz-pic pic-effect">
          <img src="../../images/b3-l-img2.jpg" height="289" width="298" alt="">
          <p>千年老妖，哪里跑</p>
        </div>  

      </div>
      <!-- hylpz-pics -->

        <div class="hylpz-news">
            <div class="box-inset-radius-wrapper">
                <div class="box-inset-radius">
                    <div class="box-inset-radius-inner">
                        <div class="box-inner-title">
                            <h3>合作伙伴</h3>
                            <p>cooperative partner</p>
                        </div>

                        <ul class="partner-list">
                            <li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="../img/i-icon.png" alt="" class="list-icon">
                                    <span class="list-cont">
                                        西瓜哥就是威武霸气若是不同意就是不客
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="btn-more">
                                    <img src="../img/i-more.png" height="29" width="94" alt="more">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="bi-shadow"></span>
            </div>
        </div>
        <!--hylpz-news-->

    </div>
  </div>
  <!-- hylpz -->


<div class="jxzl">
    <div class="w1160 clearfix">
        <div class="block-title">
            <h2>匠心之旅</h2>
            <p><span>传播报道中国专业镇匠心风采</span></p>
        </div>

        <div class="fl">
                <!-- Swiper -->
                <div class="swiper-container jxzl-swiper common-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../../images/b4-l-img1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="../../images/b4-l-img1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="../../images/b4-l-img1.jpg" alt=""></div>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            <div class="jxzl-l-b">
                <div class="fl jxzl-menu active">
                    <img src="../../images/b4-l-img2.jpg" alt="">
                    <span class="arrowl"></span>
                </div>
                <div class="fr jxzl-menu">
                    <img src="../../images/b4-l-img2.jpg" alt="">
                    <span class="arrowr"></span>
                </div>

                <div class="jxzl-cont">
                    <div class="box-inset-radius-wrapper">
                        <div class="box-inset-radius">
                            <div class="box-inset-radius-inner">
                                <div class="jc-title">
                                    <h3>传播报道中国专业镇匠心风采1</h3>
                                    <p><img src="../img/tit-icon-arrow.png" alt=""></p>
                                </div>

                                <ul class="jc-list">
                                    <li><a href="#">我们纯粹用来粹用来粹用来粹用来粹用来获取和保存数据</a></li>
                                    <li><a href="#">我们纯粹用来获取和保存数据</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="center-box">
                        <a href="#" class="btn-more">
                            <img src="../img/i-more.png" height="29" width="94" alt="more">
                        </a>
                    </div>
                </div>

                <div style="display: none;" class="jxzl-cont">
                    <div class="box-inset-radius-wrapper">
                        <div class="box-inset-radius">
                            <div class="box-inset-radius-inner">
                                <div class="jc-title">
                                    <h3>传播报道中国专业镇匠心风采</h3>
                                    <p><img src="../img/tit-icon-arrow.png" alt=""></p>
                                </div>

                                <ul class="jc-list">
                                    <li><a href="#">我们纯粹用来粹用来粹用来粹用来粹用来获取和保存数据</a></li>
                                    <li><a href="#">我们纯粹用来获取和保存数据</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="center-box">
                        <a href="#" class="btn-more">
                            <img src="../img/i-more.png" height="29" width="94" alt="more">
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="jxzl-rank fr">
            <div class="box-inner-title box-inner-title-tal">
                <h3>专业镇匠心人气排行</h3>
                <p>ranking professional town</p>
            </div>

            <ul class="jxzl-ranklist">
                <li><a href="#">
                        <span class="rank-num"><strong>1</strong>st</span>
                        <img src="../img/list-icon.jpg" class="rl-icon" alt="">
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-num"><strong>2</strong>nd</span>
                        <img src="../img/list-icon.jpg" class="rl-icon" alt="">
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-num"><strong>3</strong>th</span>
                        <img src="../img/list-icon.jpg" class="rl-icon" alt="">
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-num"><strong>4</strong>th</span>
                        <img src="../img/list-icon.jpg" class="rl-icon" alt="">
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-num"><strong>5</strong>th</span>
                        <img src="../img/list-icon.jpg" class="rl-icon" alt="">
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-num"><strong>6</strong>th</span>
                        <img src="../img/list-icon.jpg" class="rl-icon" alt="">
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-num"><strong>7</strong>th</span>
                        <img src="../img/list-icon.jpg" class="rl-icon" alt="">
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#" class="btn-more">
                        <img src="../img/i-more.png" height="29" width="94" alt="more">
                    </a></li>

            </ul>
        </div>

    </div>
</div>
<!--jxzl-->


<div class="jyz">
    <div class="w1200 clearfix">
        <div class="block-title">
            <h2>匠业志</h2>
            <p><span>聆听中国优秀企业的匠心经营之道</span></p>
        </div>

        <div class="jyz-cont clearfix">
            <div class="fl">
                <div class="uiSearch">
                    <div class="uiSearch-label">
                        <strong>查  询</strong>
                        <p>你的企业</p>
                    </div>
                    <input type="text" class="uiSearch-input">
                    <button class="uiSearch-btn"></button>
                </div>
                <!-- ui-search -->

                <div class="jyz-left-tit">
                    区域先锋
                </div>

                <div class="jyz-left-swiper">
                    <div class="tabs-cont">
                        <div class="tabs-panel">
                            <a href="#"><img src="../../images/b5-l-img1.jpg" alt=""></a>
                        </div>
                        <div class="tabs-panel">
                            <a href="#"><img src="../../images/b5-l-img1.jpg" alt=""></a>
                        </div>
                        <div class="tabs-panel">
                            <a href="#"><img src="../../images/b5-l-img1.jpg" alt=""></a>
                        </div>
                        <div class="tabs-panel">
                            <a href="#"><img src="../../images/b5-l-img1.jpg" alt=""></a>
                        </div>
                    </div>
                    <img class="img-mask" src="../img/img-mask.png" alt="">
                    <span class="top-line"></span>
                    <div class="tabs-menu">
                      <ul>
                          <li class="active">西瓜哥就是威武霸气若是
                              不同意就是不客
                          </li>
                          <li>西瓜哥就是威武霸气若是
                              不同意就是不客
                          </li>
                          <li>西瓜哥就是威武霸气若是
                              不同意就是不客
                          </li>
                          <li>西瓜哥就是威武霸气若是
                              不同意就是不客
                          </li>
                      </ul>
                    </div>
                </div>
                <!--jyz-left-swiper-->
            </div>

            <div class="jyz-middle">
                <!-- Swiper -->
                <div class="swiper-container jyz-middle-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../images/b5-m-img1.jpg" alt="">
                            <p class="swp-tit">这货是标题</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/b5-m-img1.jpg" alt="">
                            <p class="swp-tit">这货是标题</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/b5-m-img1.jpg" alt="">
                            <p class="swp-tit">这货是标题</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/b5-m-img1.jpg" alt="">
                            <p class="swp-tit">这货是标题</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/b5-m-img1.jpg" alt="">
                            <p class="swp-tit">这货是标题</p>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="jyz-middle-bottom">
                    <!-- Swiper -->
                    <div class="swiper-container jyz-middle-bottom">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="jmb-img">
                                    <a href="#">
                                        <img src="../../images/b5-m-img2.jpg" alt="">
                                        <p class="swp-tit">这货是标题</p>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="jmb-img">
                                    <a href="#">
                                        <img src="../../images/b5-m-img2.jpg" alt="">
                                        <p class="swp-tit">这货是标题1</p>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <a href="#" class="btn-more">
                        <img src="../img/i-more.png" height="29" width="94" alt="more">
                    </a>

                </div>
            </div>

            <div class="jyz-right fr">

                <div class="box-inset-radius-wrapper">
                    <div class="box-inset-radius">
                        <div class="box-inset-radius-inner">
                            <div class="box-inner-title">
                                <h3>匠心企业人气排行榜</h3>
                                <p>ranking professional town</p>
                            </div>

                            <div class="tabs-box">
                                <div class="tabs-menu">
                                    <ul>
                                        <li class="tabs-menu-item active">区域先锋</li>
                                        <li class="tabs-menu-item">区域先锋</li>
                                        <li class="tabs-menu-item">区域先锋</li>
                                    </ul>
                                </div>
                                <div class="tabs-cont">
                                    <div class="tabs-cont-item">
                                        <ul class="jyz-right-list">
                                            <li><a href="#">
                                                    1西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                        </ul>
                                    </div>
                                    <div class="tabs-cont-item">
                                        <ul class="jyz-right-list">
                                            <li><a href="#">
                                                    1西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                        </ul>
                                    </div>
                                    <div class="tabs-cont-item">
                                        <ul class="jyz-right-list">
                                            <li><a href="#">
                                                    1西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                            <li><a href="#">
                                                    西瓜哥就是威武霸气若是不同意就是不哥就是威武哥就是威武霸气若是不同意就是不客
                                                    <span class="jrl-num">
                                                        <img src="../img/i-heart.png" alt="">
                                                        5000
                                                    </span>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <span class="bi-shadow"></span>
                </div>
                <!--box-inset-radius-wrapper-->

            </div>
            <!--.jyz-right-->
        </div>

    </div>
    <!--w1200-->
</div>
<!--jxzl-->



<div class="mjlz">
    <div class="w1200 clearfix">
        <div class="block-title">
            <h2>名匠列传</h2>
            <p><span>器物有魂魄  匠人自谦恭</span></p>
        </div>

        <div class="fl mjlz-left">
            <div class="view">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="../../images/b6-l-banner.jpg" alt="">
                                <p class="sl-text">西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若【更多】</p>
                            </a>
                            <a href="#" class="btn-more">
                                <img src="../img/i-more.png" height="29" width="94" alt="more">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="../../images/b6-l-banner.jpg" alt="">
                                <p class="sl-text">西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若【更多】</p>
                            </a>
                            <a href="#" class="btn-more">
                                <img src="../img/i-more.png" height="29" width="94" alt="more">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="../../images/b6-l-banner.jpg" alt="">
                                <p class="sl-text">西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若【更多】</p>
                            </a>
                            <a href="#" class="btn-more">
                                <img src="../img/i-more.png" height="29" width="94" alt="more">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="../../images/b6-l-banner.jpg" alt="">
                                <p class="sl-text">西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若是不同意就是不客观西瓜哥就是威武霸气若【更多】</p>
                            </a>
                            <a href="#" class="btn-more">
                                <img src="../img/i-more.png" height="29" width="94" alt="more">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="preview">
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../images/b6-l-img.jpg" alt="">
                            <p class="hover-mask">这货是标题</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/b6-l-img.jpg" alt="">
                            <p class="hover-mask">这货是标题</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/b6-l-img.jpg" alt="">
                            <p class="hover-mask">这货是标题</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/b6-l-img.jpg" alt="">
                            <p class="hover-mask">这货是标题</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--fl-->

        <div class="mjlz-rank fr">
            <div class="box-inner-title box-inner-title-tal">
                <h3>名匠人气榜</h3>
                <p>ranking professional </p>
            </div>

            <ul class="jxzl-ranklist">
                <li><a href="#">
                        <span class="rank-avatar">
                            <img src="../../images/b6-l-img.jpg" alt="">
                            <p class="hover-mask">what fuck</p>
                        </span>
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-avatar">
                            <img src="../../images/b6-l-img.jpg" alt="">
                            <p class="hover-mask">what fuck</p>
                        </span>
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>

                <li><a href="#">
                        <span class="rank-avatar">
                            <img src="../../images/b6-l-img.jpg" alt="">
                            <p class="hover-mask">what fuck</p>
                        </span>
                        <div class="rank-title">
                            <p>西瓜哥就是威武霸气</p>
                            <p><img src="../img/i-heart.png" alt=""> 5000</p>
                        </div>
                    </a></li>


            </ul>

            <a href="#" class="btn-more">
                <img src="../img/i-more.png" height="29" width="94" alt="more">
            </a>
        </div>

    </div>
</div>
<!--jxzl-->


<div class="cppj">
    <div class="w1200 clearfix">
        <div class="block-title">
            <h2>产品品鉴</h2>
            <p><span>带你品位一种能改变世界的现实力量</span></p>
        </div>

        <div class="cppj-left fl">
            <div class="cppj-left-item clearfix">
                <a href="#">
                <div class="cli-img">
                    <img class="cli-pro" src="../../images/b7-l-img1.jpg" alt="">
                    <img src="../img/b7-shadow-l.png" alt="">
                </div>
                <div class="cli-cont common-article-info">
                    <h3>标题标题标题</h3>
                    <div class="art-author">
                        <span>
                        <img src="../img/i-time.png" alt="">
                        15 may 2017</span>
                        <span>
                        <img src="../img/i-user.png" alt="">
                        by wangsss</span>

                    </div>
                    <div class="art-cont">
                        哥就是威武霸气若是不同意就是不客观哥就是威
                        武霸气若是不同意就是不客观武霸气若是不同意
                        哥就是威武霸气若
                    </div>
                    <div class="art-author art-data">
                        <span>
                        <img src="../img/i-comment.png" alt="">
                        50</span>
                        <span>
                        <img src="../img/i-like.png" alt="">
                       100</span>

                    </div>
                </div>
                <!--lci-cont-->
                </a>
            </div>
            <!--.cppj-left-item-->
            <div class="cppj-left-item clearfix">
                <a href="#">
                    <div class="cli-img">
                        <img class="cli-pro" src="../../images/b7-l-img1.jpg" alt="">
                        <img src="../img/b7-shadow-l.png" alt="">
                    </div>
                    <div class="cli-cont common-article-info">
                        <h3>标题标题标题</h3>
                        <div class="art-author">
                        <span>
                        <img src="../img/i-time.png" alt="">
                        15 may 2017</span>
                            <span>
                        <img src="../img/i-user.png" alt="">
                        by wangsss</span>

                        </div>
                        <div class="art-cont">
                            哥就是威武霸气若是不同意就是不客观哥就是威
                            武霸气若是不同意就是不客观武霸气若是不同意
                            哥就是威武霸气若
                        </div>
                        <div class="art-author art-data">
                        <span>
                        <img src="../img/i-comment.png" alt="">
                        50</span>
                            <span>
                        <img src="../img/i-like.png" alt="">
                       100</span>

                        </div>
                    </div>
                    <!--lci-cont-->
                </a>
            </div>
            <!--.cppj-left-item-->
        </div>
        <!--cppj-left-->

        <div class="cppj-right fr">
            <div class="cppj-left-item clearfix">
                <a href="#">
                    <div class="cli-img">
                        <img class="cli-pro" src="../../images/b7-r-img1.jpg" alt="">
                        <img src="../img/b7-shadow-r.png" alt="">
                    </div>
                    <div class="cli-cont common-article-info">
                        <h3>标题标题标题</h3>
                        <div class="art-author">
                        <span>
                        <img src="../img/i-time.png" alt="">
                        15 may 2017</span>
                            <span>
                        <img src="../img/i-user.png" alt="">
                        by wangsss</span>

                        </div>
                        <div class="art-cont">
                            哥就是威武霸气若是不同意就是不客观哥就是威
                            武霸气若是不同意就是不客观武霸气若是不同意
                            哥就是威武霸气若
                        </div>
                        <div class="art-author art-data">
                        <span>
                        <img src="../img/i-comment.png" alt="">
                        50</span>
                            <span>
                        <img src="../img/i-like.png" alt="">
                       100</span>

                        </div>
                    </div>
                    <!--lci-cont-->
                </a>

                <a href="#" class="btn-more">
                    <img src="../img/i-more.png" height="29" width="94" alt="more">
                </a>


            </div>
            <!--.cppj-left-item-->


        </div>
        <!--.cppj-right-->
    </div>
</div>

<div class="ui-gotop">
    <a class="item" href="#">
        <i class="i-nav-gotop"></i>
        <span class="ug-top">
            <i class="i-nav-arrow-t"></i>
            返回顶部
        </span>
    </a>
    <!--<a class="item" href="http://imall.cctv.com/one/index.shtml" target="_blank">-->
        <!--<i class="i-nav-qlink"></i>-->
        <!--<span class="ug-top">-->
            <!--<i class="i-nav-plus"></i>-->
            <!--一镇一品-->
        <!--</span>-->
    <!--</a>-->
    <a class="item" href="javascript:void(0)">
        <i class="i-nav-scan"></i>
        <span class="ug-top">
            央视网商城手机端
            <img src="http://js.static.cctvmall.cn/css/images/m.cctvmall.qrcode.png" alt="央视网商城手机端二维码">
        </span>
    </a>
</div>

<%-include include/footer %>
<script src="../js/index.js"></script>
</body>
</html>
  
