<!DOCTYPE html>
<html lang="zh-CN">
<head>
  
  <title>匠人</title>
  
  <%-include include/header %>
  <link rel="stylesheet" href="../css/page/subpage.css">

</head>
<body class="jiangren">
<%-include include/commonTop %>
<div class="subpage-banner">
  <div class="bg-below"></div>
  <div class="main">
    <div class="bg-center">
      <div class="bg"></div>
    </div>
    <div class="info">
      <div class="slider">
        <div class="swiper-container subpage-banner-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../img/jiangren-banner.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="../img/jiangren-banner.jpg" alt=""> 
            </div>
            <div class="swiper-slide">
              <img src="../img/jiangren-banner.jpg" alt="">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination subpage-banner-slider-page"></div>
        </div>
      </div>
      <div class="news">
        <a href="#" class="t">申请名匠</a>
        <h1>最新资讯</h1>
        <p><img src="../img/temp3.jpg" alt=""></p>
        <ul>
        <li><a href="#">独家采访 [宇宙大脑 ]导演/记录片首播</a></li>
        <li><a href="#">公开课客户端下载 我的儿子是校园枪手</a></li>
        <li><a href="#">Ted首播： 贫穷的根源</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- ./subpage-banner -->
<div class="block-jxccr">
  <h1 class="block-title"><img src="../img/title-jxccr.png" alt=""></h1>
  <ul>
    <li class="line-r">
      <strong class="t">奉贤沈阿姨</strong>
      <p>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、</p>
      <img class="thumb" src="../img/temp2.jpg" alt="">
      <span class="like">21234</span>
    </li>
    <li>
      <strong class="t">奉贤沈阿姨</strong>
      <p>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、</p>
      <img class="thumb" src="../img/temp2.jpg" alt="">
      <span class="like">21234</span>
    </li>
    <li class="line-r">
      <strong class="t">奉贤沈阿姨</strong>
      <p>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、</p>
      <img class="thumb" src="../img/temp2.jpg" alt="">
      <span class="like">21234</span>
    </li>
    <li>
      <strong class="t">奉贤沈阿姨</strong>
      <p>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、</p>
      <img class="thumb" src="../img/temp2.jpg" alt="">
      <span class="like">21234</span>
    </li>
  </ul>
</div>
<!-- ./block-jxccr -->
<div class="block-mjgs">
  <h1 class="block-title"><img src="../img/title-mjgs.png" alt=""></h1>
  <dl id="videoPlay">
    <dt>
      <a class="active" href="javascript:;">
        <img src="../img/temp5.jpg" alt="">
        <span><b>奉贤沈阿姨</b>奉贤沈阿姨十二岁就</span>
      </a>
      <a href="javascript:;">
        <img src="../img/temp5.jpg" alt="">
        <span><b>奉贤沈阿姨</b>奉贤沈阿姨十二岁就</span>
      </a>
      <a href="javascript:;">
        <img src="../img/temp5.jpg" alt="">
        <span><b>奉贤沈阿姨</b>奉贤沈阿姨十二岁就</span>
      </a>
      <a href="javascript:;">
        <img src="../img/temp5.jpg" alt="">
        <span><b>奉贤沈阿姨</b>奉贤沈阿姨十二岁就</span>
      </a>
    </dt>
    <dd class="active"><img src="../img/temp4.jpg" alt=""><p><strong>奉贤沈阿姨1</strong>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、黑白色条纹的花样，大点了就织复杂的花样。织布要记花样的，要记性的。</p><span class="btn"></span></dd>
    <dd><img src="../img/temp4.jpg" alt=""><p><strong>奉贤沈阿姨2</strong>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、黑白色条纹的花样，大点了就织复杂的花样。织布要记花样的，要记性的。</p><span class="btn"></span></dd>
    <dd><img src="../img/temp4.jpg" alt=""><p><strong>奉贤沈阿姨3</strong>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、黑白色条纹的花样，大点了就织复杂的花样。织布要记花样的，要记性的。</p><span class="btn"></span></dd>
    <dd><img src="../img/temp4.jpg" alt=""><p><strong>奉贤沈阿姨4</strong>奉贤沈阿姨十二岁就开始学织布，她觉得织布这个技能跟烧饭洗衣服一样普通，当地六十岁以上的女人都会，“小时候先是帮忙摇线，然后么织单色的、黑白色条纹的花样，大点了就织复杂的花样。织布要记花样的，要记性的。</p><span class="btn"></span></dd>
  </dl>
</div>
<!-- ./block-mjgs -->
<div class="xinjinpinpai">
  <h1 class="block-title"><img src="../img/title-newBrand.png" alt=""></h1>
  <div class="xinjinpinpai-swiper-wrap">
    <div class="swiper-container swiper-xinjinpinpai swiper-container-horizontal">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div>
            <img src="../img/xinjin-1.jpg" alt="">
            <img class="thumb" src="../img/thumb.png" alt="">
            <p>黑天鹅蛋糕</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/xinjin-1.jpg" alt="">
            <img class="thumb" src="../img/thumb.png" alt="">
            <p>黑天鹅蛋糕</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/xinjin-1.jpg" alt="">
            <img class="thumb" src="../img/thumb.png" alt="">
            <p>黑天鹅蛋糕</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/xinjin-1.jpg" alt="">
            <img class="thumb" src="../img/thumb.png" alt="">
            <p>黑天鹅蛋糕</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/xinjin-1.jpg" alt="">
            <img class="thumb" src="../img/thumb.png" alt="">
            <p>黑天鹅蛋糕</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <img src="../img/xinjin-1.jpg" alt="">
            <img class="thumb" src="../img/thumb.png" alt="">
            <p>黑天鹅蛋糕</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<!-- ./xinjinpinpai -->
<div class="jingxuanpinpai-wrap">
  <div class="jingxuanpinpai">
    <h1 class="block-title"><img src="../img/title-topBrand.png" alt=""></h1>
    <div class="block-search">
      <p>
        <input type="text" placeholder="输入品牌名称">
        <button>search</button>
      </p>
    </div>
    <ul>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
      <li><a href="#"><img src="../img/jingxuan-logo-1.png" alt=""></a></li>
    </ul>
  </div>
</div>
<%-include include/footer %>
<script type="text/javascript" src="/src/lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/src/lib/swiper2.7.6.min.js"></script>
<script>
;(function(){
  var slider = new Swiper('.subpage-banner-slider', {
    pagination: '.subpage-banner-slider-page',
    paginationClickable: true
  });
  $('#videoPlay dt a').bind('hover',function(){
    var index = $(this).index(),
        dd
    $(this).addClass('active').siblings().removeClass('active')
    dd = $(this).parents('dl').find('dd').get(index)
    $(dd).addClass('active').siblings().removeClass('active')
  })
}())
</script>
</body>
</html>
  
